# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Virtual environment
venv/
env/
.env/
*/site-packages/

# Database
*.sqlite3
*.db
*.bak

# Media and Static files
/media/
/static_collected/
staticfiles/

# Logs
*.log
logs/

# Development specific files
.DS_Store
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
manage.py
token.json
service_acct.json
credentials.json
credentials/
untracked/
gpt.txt
ebay_profile/


# Environment variables
.env
.flaskenv

# Other temporary files
tmp/
celerybeat.pid
celeryd.pid
