<html>
<head>
    <title>Manage Collections</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
{% load static %}

<body>

{% include "header.html" %}
{% include "refresh_timer.html" %}
<div id="collection-tree">
    {% include "manage_collection_node.html" with collection=collection settings=settings %}
</div>
{% include "spreadsheet.html" with columns=columns rows=rows %}

</body>
</html>