
<style>
  .settings-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
  }

  hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 32px 0;
  }

  input {
    /* No transition by default */
  }

  input.fading {
    transition: background-color 2s ease, border-color 2s ease;
  }

  .error {
    border: 2px solid red;
    background-color: #ffe6e6;
  }

</style>

{% include "header.html" %}
{% load static %}
  <div class="container mt-4">
    <h2>Settings</h2>
    
    <form id="settings-form" method="post" action="{% url 'update_settings' %}" style="margin-top: 24px;">
    {% csrf_token %}
    <label for="id_listings" style="font-weight: bold; margin-right: 12px;">
      Number of ID Listings to Return:
    </label>
    <input type="number" id="id_listings" name="id_listings"
      value="{{ settings.id_listings }}" min="1" max="200"
      style="padding: 6px 10px; width: 80px; border-radius: 4px; border: 1px solid #ccc;" /><br><br>

    <label for="refined_listings" style="font-weight: bold; margin-right: 12px;">
      Number of Refined Listings to Return:
    </label>
    <input type="number" id="refined_listings" name="refined_listings"
      value="{{ settings.refined_listings }}" min="1" max="200"
      style="padding: 6px 10px; width: 80px; border-radius: 4px; border: 1px solid #ccc;" /><br><br>

    <label for="price_listings" style="font-weight: bold; margin-right: 12px;">
      Number of Price Listings to Return:
    </label>
    <input type="number" id="price_listings" name="price_listings"
      value="{{ settings.price_listings }}" min="1" max="200"
      style="padding: 6px 10px; width: 80px; border-radius: 4px; border: 1px solid #ccc;" /><br><br>

    <label for="nr_collection_page_items" style="font-weight: bold; margin-right: 12px;">
      Items per page:
    </label>
    <input type="number" id="nr_collection_page_items" name="nr_collection_page_items"
      value="{{ settings.nr_collection_page_items }}" min="1" max="100"
      style="padding: 6px 10px; width: 80px; border-radius: 4px; border: 1px solid #ccc;" /><br><br>
    <label for="field_pct_threshold" style="font-weight: bold; margin-right: 12px;">
      % Threshold for Field Inclusion:
    </label>
    <input type="float" id="field_pct_threshold" name="field_pct_threshold"
      value="{{ settings.field_pct_threshold }}" min="0" max="1"
      style="padding: 6px 10px; width: 80px; border-radius: 4px; border: 1px solid #ccc;" /><br><br>   
    <label for="nr_std_devs" style="font-weight: bold; margin-right: 12px;">
      Price Chart cutoff (Std Devs)
    </label>
    <input type="float" id="nr_std_devs" name="nr_std_devs"
      value="{{ settings.nr_std_devs }}" min="0" max="1"
      style="padding: 6px 10px; width: 80px; border-radius: 4px; border: 1px solid #ccc;" /><br><br>
    <button onclick="handleConsentPage()">
      Authorize
    </button>    
    <input type="text" id="ebay_auth_code_unescaped" name="ebay_auth_code_unescaped"
      value="{{ settings.ebay_auth_code_unescaped }}"
        placeholder="Paste authorization code here and save"
      style="padding: 6px 10px; width: 80px; border-radius: 4px; border: 1px solid #ccc; width: 50%" /><br><br>
    <input type="text"
        id="ebay_user_auth_consent"
        name="ebay_user_auth_consent"
        value="{{ settings.ebay_user_auth_consent }}"
        style="margin-right: 12px; padding: 6px 12px; border: 1px solid #ccc; border-radius: 4px; width: 50%;" /><br><br>
      <button type="submit" style="margin-left: 12px; padding: 6px 12px; background-color: #333; color: white; border: none; border-radius: 4px;">
        Save
      </button>
    </form>
{% include "settings_block.html" with primary_field_key="names" secondary_field_key="" primary_upload_url="upload/names/"  secondary_upload_url="" primary_autocomplete_id="names-autocomplete-data" secondary_autocomplete_id="" %}<br><br><hr>
    {% comment %}

      {% include "settings_block.html" with primary_field_key="brands" secondary_field_key="subsets" primary_upload_url="upload/brands/"  secondary_upload_url="upload/subsets/" primary_autocomplete_id="brands-autocomplete-data" secondary_autocomplete_id="subsets_autocomplete_data" %}<br><br><hr>
      
      {% include "settings_block.html" with primary_field_key="cities" secondary_field_key="" primary_upload_url="upload/cities/"  secondary_upload_url="" primary_autocomplete_id="cities-autocomplete-data" secondary_autocomplete_id="" %}<br><br><hr>
      {% include "settings_block.html" with primary_field_key="teams" secondary_field_key="" primary_upload_url="upload/teams/"  secondary_upload_url="" primary_autocomplete_id="teams-autocomplete-data" secondary_autocomplete_id="" %}<br><br><hr>
      {% include "settings_block.html" with primary_field_key="attribs" secondary_field_key="" primary_upload_url="upload/attribs/"  secondary_upload_url="" primary_autocomplete_id="attribs-autocomplete-data" secondary_autocomplete_id="" %}<br><br><hr>
      {% include "settings_block.html" with primary_field_key="condition" secondary_field_key="" primary_upload_url="upload/condition/"  secondary_upload_url="" primary_autocomplete_id="condition-autocomplete-data" secondary_autocomplete_id="" %}<br><br><hr>
      {% include "settings_block.html" with primary_field_key="parallel" secondary_field_key="" primary_upload_url="upload/parallel/"  secondary_upload_url="" primary_autocomplete_id="parallel-autocomplete-data" secondary_autocomplete_id="" %}<br><br><hr>
      
    {% endcomment %}
  </div>
<script>
function handleConsentPage() {
  const url = document.getElementById("ebay_user_auth_consent").value;
  window.open(url, "_blank", "noopener,noreferrer");
}

function handleQuickAdd(event, fieldKey) {
  if (event.key === 'Enter') {
    submitQuickAdd(fieldKey);
  }
}

function submitQuickAdd(fieldKey) {
  console.log("submit ", fieldKey);
  const input = document.getElementById(`quick-add-${fieldKey}`);
  const value = input.value.trim();

  // Clear any previous error state
  input.classList.remove('error');

  if (value) {
    fetch('/add_token/', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        field_key: fieldKey,
        token: value
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        input.value = '';
        window.location.reload();
      } else {
        console.error('Server error:', data.error);
        triggerErrorHighlight(input);
      }
    })
    .catch(err => {
      console.error('Request failed:', err);
      triggerErrorHighlight(input);
    });
  }
}

function triggerErrorHighlight(input) {
  input.classList.add('error');
  setTimeout(() => {
    input.classList.remove('error');
  }, 2000); // fade out after 2 seconds
}
document.getElementById("settings-form").addEventListener("submit", function(e) {
  e.preventDefault();
  const formData = new FormData(this);

  fetch(this.action, {
    method: "POST",
    body: formData,
  })
  .then(res => res.json())
  .then(data => {
    if (data.status === "success") {

      window.history.back();  // ⬅️ Go to the previous page
    } else {
      alert("Error saving settings.");
    }
  });
});
</script>
