<div class="nav-buttons">

  {% if previous %}
    <button id="prev" class="nav-button prev" data-url="{% url url_name previous %}" onclick="handlePrev()">← Previous</button>

  {% else %}
    <span class="nav-button disabled">← Previous</span>
  {% endif %}

  <button id="prev" class="nav-button up" data-url="{% url up_url up %}">Up</button>

  {% if next %}
    <button id="next" class="nav-button next" data-url="{% url url_name next %}" onclick="handleNext()">Next →</button>

  {% else %}
    <span class="nav-button disabled">Next →</span>
  {% endif %}
</div>

<style>
.nav-buttons {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  gap: 12px;
}

.nav-button {
  padding: 8px 16px;
  background-color: #0078D4;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
}

.nav-button:hover {
  background-color: #005fa3;
}

.nav-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: default;
  pointer-events: none;
}
</style>

<script>
function handleNext() {

  el = document.getElementById("next")
  url = el.dataset.url;

  console.log("Navigating to:", url);
  window.location.href = url;
}

function handlePrev() {

  el = document.getElementById("prev")
  url = el.dataset.url;

  console.log("Navigating to:", url);
  window.location.href = url;
}

function handleUp() {
  console.log("here");
  window.location.href = "/manage";
}
</script>