<div style="margin-top: 20px; display: flex; gap: 10px;">
    <button id="image-search-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        🖼️ Image Search
    </button>
    <button id="text-filter-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        🔤 Refine
    </button>
    <button id="export-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        👇 Download
    </button>
    <button id="retokenize-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        🔍 Retokenize
    </button>
    <button id="price-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        💲 Price Only
    </button>
    <button id="crop-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        ✂ Crop
    </button>
    <button id="save-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        💾 Save
    </button>
    <button id="save-next-btn-{{ card_id }}" style="padding: 8px 16px; background-color: #3498db; color: white; border: none; border-radius: 6px; cursor: pointer;">
        💾→ Save & Next
    </button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const imageSearchBtn = document.getElementById("image-search-btn-{{ card_id }}");
        const retokenizeBtn = document.getElementById("retokenize-btn-{{ card_id }}");
        const priceBtn = document.getElementById("price-btn-{{ card_id }}");
        const textFilterBtn = document.getElementById("text-filter-btn-{{ card_id }}");
        const exportBtn = document.getElementById("export-btn-{{ card_id }}");
        const cropBtn = document.getElementById("crop-btn-{{ card_id }}");
        const saveBtn = document.getElementById("save-btn-{{ card_id }}");
        const saveNextBtn = document.getElementById("save-next-btn-{{ card_id }}");
        const searchResultId = "{{ search_result.id }}"
        const cardId = "{{ card_id }}";
        const collectionId = "{{ collection_id }}";

        imageSearchBtn.addEventListener('click', () => {
            console.log(`🖼️ Image Search triggered for ${imageSearchBtn.id}`);
            fetch(`/image_search/${cardId}/`, { 
                method: 'POST',                      
                body: JSON.stringify({
                    required_words: collectAllFields(cardId)
                })
            }).then(response => {
                console.log("Successfully");
                location.reload()
            }).catch(error => {
                console.error("Save error", error);
            });
        });
        retokenizeBtn.addEventListener('click', () => {
            fetch(`/retokenize/${searchResultId}/`, { 
                method: 'POST',
            }).then(response => {
                console.log("Successfully");
                location.reload()
            }).catch(error => {
                console.error("Save error", error);
            });
        });
        priceBtn.addEventListener('click', () => {
            fetch(`/price_only/${searchResultId}/`, { 
                method: 'GET',
            }).then(response => {
                console.log("Successfully");
                location.reload()
            }).catch(error => {
                console.error("Save error", error);
            });
        });
        exportBtn.addEventListener('click', () => {
            //TODO:reimplement this when needed as download csv
            console.log(` Export triggered for ${exportBtn.id}`);
            console.log(searchResultId);
            //fetch(`/export/${searchResultId}/`)
              //  .then(res => res.json())
                
        });
        saveBtn.addEventListener('click', () => {
            
            console.log(` Save triggered for ${saveBtn.id}`);
            console.log(searchResultId);
            allFields = collectAllFields(cardId);
            //TODO:fix this hack maybe
            allFields["notes"] = document.getElementById("notes").value
            console.log("Fields:", allFields);

            $.ajax({
                url: "/update_csr_fields/",
                method: "POST",
                data: {
                    csrId: searchResultId,
                    ...allFields,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: response => {
                    console.log("Saved:", response);
                    alert("Changes saved successfully.");
                },
                error: xhr => {
                    console.error("Save error:", xhr.responseText);
                    alert("Error saving changes.");
                }
            });       
        });
        saveNextBtn.addEventListener('click', () => {
            
            console.log(` Save triggered for ${saveBtn.id}`);
            console.log(searchResultId);
            allFields = collectAllFields(cardId);
            //TODO:fix this hack maybe
            allFields["notes"] = document.getElementById("notes").value
            console.log("Fields:", allFields);

            $.ajax({
                url: "/update_csr_fields/",
                method: "POST",
                data: {
                    csrId: searchResultId,
                    ...allFields,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: response => {
                    {% if page_obj.has_next %}
                        submitCardForm(null, null, "/card/{{page_obj.object_list.0.1}}/?page={{ page_obj.next_page_number }}");
                    {% else %}
                        submitCardForm(null, null, "/card/{{page_obj.object_list.0.1}}/?page=1");
                    {% endif %}
                },
                error: xhr => {
                    console.error("Save error:", xhr.responseText);
                    alert("Error saving changes.");
                }
            });       
        });
        cropBtn.addEventListener('click', () => {
            console.log(cardId)
            fetch(`/crop_review/${collectionId}/`, { 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },             
                body: JSON.stringify({
                    card_ids: [cardId]
                })
            }).then(response => {
                console.log("Successfully");
                location.reload()
            }).catch(error => {
                console.error("Save error", error);
            });
        });
        
        textFilterBtn.addEventListener('click', () => {
            let allFields = {}
            allFields = collectAllFields(cardId);
            console.log(`Text filter triggered`, allFields)
            fetch(`/text_filter/`, { 
                method: 'POST',                            
                body: JSON.stringify({
                    required_words: allFields,
                    csr_ids: [searchResultId],
                    new_search: true
                })
            }).then(response => {
                console.log("Successfully");
                location.reload()
            }).catch(error => {
                console.error("Save error", error);
            });
        });
        /*temp using this as image_search_with_req
            console.log("🔤 Text Search triggered");
            
            // Show loading indicator
            textSearchBtn.innerHTML = "🔄 Searching...";
            textSearchBtn.disabled = true;

            fetch(`/text_search/${cardId}/`, { 
                method: 'POST',
            }).then(response => {
                console.log("Successfully");
                location.reload()
            }).catch(error => {
                console.error("Save error", error);
                
                // Restore button state on error
                textSearchBtn.innerHTML = "🔍 Text Search";
                textSearchBtn.disabled = false;
            });
        });*/
    });
</script>